html, body {
  background-color:rgb(19, 19, 19);
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

div {
  margin-top: 50px;
  margin-left: 20px;
  /* padding: 20px; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.slider {
  color: white;

}
p {
  font-family: Arial, Helvetica, sans-serif;
}
